*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(30, 38%, 92%);
    margin: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 800px;
    border-radius: 20px;
    overflow: hidden;

    img[alt='Product']{
        width: 50%;
    }
    img[alt='product']{
        display: none;
    }

    .sub-container{
        width: 50%;
        padding: 2em 3.2em;
        p{
            font-family: Montserrat;
            font-weight: 500;
            color: hsl(228, 12%, 48%);
            line-height: 1.8em;
        }
        h1{
            font-family: Fraunces;
            font-weight: 700;
            margin: 20px 0 30px 0;
            font-size: 2.5em;
            color: hsl(212, 21%, 14%);
        }
        .price-section{
            display: flex;
            align-items: center;
            margin: 30px 0;
            gap: 20px;
            .price{
                color: hsl(158, 36%, 37%);
                font-size: 2.5rem;
                font-family: Fraunces;
                font-weight: 700;
            }
            .original-price{
                font-family: Montserrat;
                font-weight: 500;
                text-decoration: line-through;
                color: hsl(228, 12%, 48%);
            }
        }
        .add-to-cart{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 1.1em;
            cursor: pointer;
            background-color: hsl(158, 36%, 37%);
            color: white;
            padding: 20px;
            border-radius: 10px;
            border: none;
            width: 100%;
            transition: all 0.2s ease-out;

            img[alt='Cart Icon']{
                width: 1.1em;
            }
            &:hover{
                background-color: hsl(158, 36%, 25%);
                transform: scale(1.03);
                box-shadow: 0 0 15px hsl(158, 36%, 37%);
            }
            &:active{
                transform: scale(0.98);
                box-shadow: 0 0 5px hsl(158, 36%, 37%);
            }
        }
    }
}
@media (max-width: 768px){
    body{
        align-items: flex-start;
        height: auto;
        margin: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container{
        flex-direction: column;
        width: 100%;

        img[alt='Product']{
            display: none;
        }
        img[alt='product']{
            display: block;
            width: 100%;
        }
        .sub-container{
            width: 100%;
            padding: 1.5em;
            font-size: .8em;

            h1{
                margin-top: 10px;
                margin-bottom: 15px;
            }
            .price-section{
                margin-top: 10px;
                margin-bottom: 10px;
                .price{
                    font-size: 2.2em;
                }
            }
        }
    }
}